---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const history = await getCollection("history");
const science = await getCollection("science");
const psa = await getCollection("psa");
const tech = await getCollection("tech");
---

<BaseLayout title="Sitemap" description="Sitemap">
    <main>
        <h1>Sitemap</h1>
        <ul>
            <li><a href="/about">About</a></li>
            <li>Science</li>
            <li>
                <ul>
                    {
                        science.map((post) => (
                            <li>
                                <a href={`/science/${post.slug}`}>
                                    {post.data.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </li>
            <li>History</li>
            <li>
                <ul>
                    {
                        history.map((post) => (
                            <li>
                                <a href={`/history/${post.slug}`}>
                                    {post.data.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </li>
            <li>Tech</li>
            <li>
                <ul>
                    <li>Privacy, Security and Anonymity</li>
                    <li>
                        <ul>
                            {
                                psa.map((post) => (
                                    <li>
                                        <a href={`/tech/psa/${post.slug}`}>
                                            {post.data.title}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </li>
                    {
                        tech.map((post) => (
                            <li>
                                <a href={`/tech/${post.slug}`}>
                                    {post.data.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </li>
        </ul>
    </main>
    <style lang="scss">
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                a {
                    white-space: nowrap;
                }

                &:has(ul) {
                    list-style-type: none;
                }
            }
        }
    </style>
</BaseLayout>
