---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.scss";

const { title, description, author, date, lastmod } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <main>
        <div class="header">
            {
                lastmod ? (
                    <time datetime={lastmod.toISOString()}>
                        {lastmod.toDateString()}
                    </time>
                ) : (
                    <time datetime={date.toISOString()}>
                        {date.toDateString()}
                    </time>
                )
            }
            <h1>{title}</h1>
            <p class="description">{description}</p>
            <p class="author">Written by {author}</p>
        </div>
        <slot />
        <button
            type="button"
            id="scrollToTop"
            onclick="window.scrollTo({top:0, behavior:'smooth'});"
            title="Go to top"
        >
            <p>Back to top</p>
        </button>
    </main>
    <script>
        let button = document.getElementById("scrollToTop");

        button!.style.display = "flex";
        window.onscroll = function () {
            if (window.scrollY > 64) {
                button!.style.opacity = "1";
            } else {
                button!.style.opacity = "0";
            }
        };
    </script>
</BaseLayout>
