---
import BaseLayout from "./BaseLayout.astro";
import "../styles/post.scss"

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <main>
        <div>
            {
                frontmatter.lastmod ? (
                    <p class="date">{frontmatter.lastmod}</p>
                ) : (
                    <p class="date">{frontmatter.date}</p>
                )
            }
            <h1>{frontmatter.title}</h1>
            <div class="description">{frontmatter.description}</div>
            <p class="author">Written by {frontmatter.author}</p>
        </div>
        <slot />
        <button
            type="button"
            id="scrollToTop"
            onclick="window.scrollTo({top:0, behavior:'smooth'});"
            title="Go to top"
        >
            <p>Back to top</p>
        </button>
    </main>
    <script>
        let button = document.getElementById("scrollToTop");

        button.style.display = "flex"
        window.onscroll = function () {
            if (window.scrollY > 64) {
                button.style.opacity = "1";
            } else {
                button.style.opacity = "0";
            }
        };
    </script>
</BaseLayout>
